{% extends 'bestellsystem/mitarbeiter.html' %}

{% block body %}
    {% for artikel in artikelliste%}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3"></div>
            <div class="col-6"></div>
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                       Name: {{artikel.NAME}}, Kallorien: {{artikel.KALLORIEN}}, Typ: {{artikel.TYP}}, Preis: {{artikel.PREIS}}
                    </div>
                </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}